---
const { frontmatter } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{frontmatter.title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <style is:global>
      body {
        background-color: #353535;
        color: #fffaee;
        font-family: sans-serif;
        font-weight: 300;
        line-height: 1.5;
        margin: 0 auto;
        max-width: 55em;
        padding: 1em;
      }

      h1, h2, h3, h4, h5, h6 {
        color: #d1f1b8;
        line-height: 1.1;
      }

      a {
        text-decoration: none;
      }

      a:not(.social) {
        background-color: #d1f1b8;
        border-radius: 5px;
        color: #353535;
        font-family: monospace;
        font-weight: 400;
        padding: 2px 4px;
      }
    </style>
	</head>
	<body>
    {frontmatter.title !== "culp.dev" && <a href="/">Home</a>}
    <slot />
	</body>
</html>
