---
const { frontmatter } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{frontmatter.title}</title>

    <style is:global>
      body {
        background-color: #FFFAEE;
        color: #353535;
        font-size: calc(1rem + 0.25vw);
        font-family: sans-serif;
        font-weight: 300;
        line-height: 1.5;
        max-width: 60em;
        padding: 1em;
      }

      h1, h2, h3, h4, h5, h6 {
        line-height: 1.1;
      }

      a {
        text-decoration: none;
      }

      a:not(.social) {
        background-color: #EDE8FF;
        border-radius: 5px;
        font-family: monospace;
        font-weight: 600;
        padding: 2px 4px;
      }
    </style>
	</head>
	<body>
    {frontmatter.title !== "culp.dev" && <a href="/">Home</a>}
    <slot />
	</body>
</html>
